<ion-header>
    <ion-toolbar>
        <div class="together">
            <div>
                <ion-avatar slot="start" class="chat-avatar">
                    <img src="/assets/img/eye.jpg" alt="avatar">
                </ion-avatar>
            </div>
            <ion-label>
                <h2 class="names">Owner</h2>
                <p style="color: gray">last seen at 9:12 PM</p>
            </ion-label>
        </div>
        <ion-icon class="small-icon" name="search" slot="end"></ion-icon>  
        <ion-icon class="small-icon" style="margin: 0 15px 0 25px;" name="ellipsis-vertical" slot="end"></ion-icon>  
        <ion-back-button slot="start" name="list"></ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="chat-area">
        <div class="body-message-from-user">
            <div class="message-user">
                What is Lorem Ipsum Lorem Ipsum?
                What is Lorem Ipsum Lorem Ipsum?
                What is Lorem Ipsum Lorem Ipsum?
                What is Lorem Ipsum Lorem Ipsum?
                <p class="time">5:35 PM</p>
            </div>
        </div>
        <div class="body-message-from-me">
            <div class="message-me">
                In publishing and graphic desonlyumentl content. Wikipedia
                <p class="time">5:35 PM</p>
            </div>
        </div>
        <div class="body-message-from-user">
            <div class="message-user">
                What is Lorem Ipsum Lorem Ipsum? Lorem Ipsum has been the industry's
                <p class="time">5:35 PM</p>
            </div>
        </div>
        <div class="body-message-from-me">
            <div class="message-me">
                In publishing and graphic desonlyumentl content. Wikipedia
                <p class="time">5:35 PM</p>
            </div>
        </div>
        <div class="body-message-from-user">
            <div class="message-user">
                What is Lorem Ipsum Lorem Ipsum? Lorem Ipsum has been the industry's
                <p class="time">5:35 PM</p>
            </div>
        </div>
        <div class="body-message-from-me">
            <div class="message-me">
                In publishing and graphic desonlyumentl content. Wikipedia
                <p class="time">5:35 PM</p>
            </div>
        </div>
        <div class="body-message-from-user">
            <div class="message-user">
                What is Lorem Ipsum Lorem Ipsum? Lorem Ipsum
                <p class="time">5:35 PM</p>
            </div>
        </div>
        <div class="body-message-from-me">
            <div class="message-me">
                In publishing and graphic desonlyumentl content. Wikipedia
                <p class="time">5:35 PM</p>
            </div>
        </div>
        <div class="body-message-from-me">
            <div class="message-me">
                tester
                <p class="time">11:46 PM</p>
            </div>
        </div>
    </div>

    <div class="bottom-panel">
        <div class="left-icon">
            <ion-icon class="bottom-panel-icons" slot="start" name="happy-outline"></ion-icon>
        </div>
        <div class="send-panel-area">
            <ion-textarea class="textarea" cols="100" placeholder="Write a message..."></ion-textarea> 
        </div>
        <div class="right-icons">
            <ion-icon class="bottom-panel-icons" slot="end" name="link-outline"></ion-icon>
            <ion-icon class="bottom-panel-icons" slot="end" name="mic-outline"></ion-icon>
        </div>
    </div>
</ion-content>
