<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Телекоммуникация и радиотехника
    </ion-title>
    <icon-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </icon-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="/secnpage">
      <ion-label>Account</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Notebook</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Favorites</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Settings</ion-label>
    </ion-item>
  </ion-list>
</ion-content>