:root {
    .dark-theme {
        --ion-color-primary: #eb4b58;
        --ion-color-primary-rgb: 235, 75, 88;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255, 255, 255;
        --ion-color-primary-shade: #cf424d;
        --ion-color-primary-tint: #ed5d69;
    }
}

p {
    padding: 5px 0 0 0;
    margin: 0;
    color: rgb(110, 110, 126);
    font-size: 13px
}

ion-menu {
    ion-header {
        background: #282C34;

        ion-toolbar {

            div.avatar-menu {
                padding: 15px 25px 15px 25px;

                .header-bookmark, .header-caret {          
                    margin-right: 10px;
                    position: absolute;
                    right: 0;
                    width: 25px;
                    height: 25px;
                    color: #fff;
                }
            }
        }
    }

    ion-content {
        
        padding: 0px; margin: 0px;

        .color-icons {
            color: rgb(89, 90, 107);
            width: 30px;
            height: 30px;
        }

        ion-list.menuitem {
            --ion-background-color: #30333C;
            --ion-text-color: #fff;

            div {
                div.dropdown {
                    --ion-background-color: #2c2f36;  
                }
            }
        }
    }
}