<ion-header>
    <ion-toolbar color="gray">
        <div>
            <ion-title class="tonull">Plus Messenger</ion-title>
            <p style="color: gray" class="tonull">Sort by unread messages</p>
        </div>
        <ion-icon name="search" slot="end"></ion-icon>  
        <ion-icon style="margin: 0 15px 0 25px;" name="folder-outline" slot="end"></ion-icon>  
        <ion-menu-button slot="start" name="list"></ion-menu-button>
    </ion-toolbar>
    <ion-segment>
        <ion-segment-button>
            <ion-icon style="color: white;" name="grid-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
            <ion-icon class="segment-color" name="people"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
            <ion-icon class="segment-color" name="megaphone-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
            <ion-icon class="segment-color" name="star-outline"></ion-icon>
        </ion-segment-button>
    </ion-segment> 
</ion-header>

<ion-content>    
    <ion-list style="padding: 0px;">
        <ion-item class="pinchats"  routerLink="/chat">
            <ion-avatar slot="start" class="chat-indent">
                <img src="/assets/img/eye.jpg" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <ion-icon class="success" name="checkmark-done"></ion-icon>
                    <p class="time">11:46 PM</p>
                </div>
                <h2 class="names">Owner</h2>
                <div class="rightpin">
                    <ion-icon style="color: #666"  style="color: #666" class="pin"  name="pin-sharp"></ion-icon>
                </div>
                <p>tester</p>
            </ion-label>
        </ion-item>
        <ion-item class="pinchats">
            <ion-avatar slot="start" class="chat-indent">
                <img src="https://web.telegram.org/img/placeholders/Fave.png" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <p class="time">5:35 PM</p>
                </div>
                <h2 class="names">Saved Messages</h2>
                <div class="rightpin">
                    <ion-icon style="color: #666"  style="color: #666" class="pin"  name="pin-sharp"></ion-icon>
                </div>
                <ion-label color="secondary">Sticker</ion-label>
            </ion-label>
        </ion-item>
        <ion-item class="pinchats">
            <ion-avatar slot="start" class="chat-indent">
                <img src="/assets/img/channel.jpg" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <p class="time">5:35 PM</p>
                </div>
                <h2 class="names" style="width: 200px">Channel</h2>
                <div class="rightpin">
                    <ion-icon style="color: #666"  style="color: #666" class="pin"  name="pin-sharp"></ion-icon>
                </div>
                <ion-label color="secondary">Video</ion-label>
            </ion-label>
        </ion-item>
        <ion-item class="pinchats">
            <ion-avatar slot="start" class="chat-indent">
                <img src="/assets/img/bot.png" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <p class="time">03:03 AM</p>
                </div>
                <h2 class="names">Bot</h2>
                <div class="rightpin">
                    <ion-icon style="color: #666"  style="color: #666" class="pin"  name="pin-sharp"></ion-icon>
                </div>
                <p style="width: 210px">Пост запланирован в канал "Channel" и будет опубликован в субботу, 26 декабря в 19:02.</p>
            </ion-label>
        </ion-item>
        <ion-item class="unpinchats">
            <ion-avatar slot="start" class="chat-indent">
                <img src="/assets/img/ionic.png" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <p class="time">12:03 AM</p>
                </div>
                <h2 class="names">IonicFramework <ion-icon class="volume" name="volume-mute" slot="end"></ion-icon></h2>
                <ion-label color="secondary">Rose: </ion-label> <span>Its good framework!</span>
            </ion-label>
        </ion-item>
        <ion-item class="unpinchats">
            <ion-avatar slot="start" class="chat-indent">
                <img src="/assets/img/angular.png" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <p class="time">12:03 AM</p>
                </div>
                <h2 class="names">Angular <ion-icon class="volume" name="volume-mute" slot="end"></ion-icon></h2>
                <p>tester</p>
            </ion-label>
        </ion-item>

        <ion-item class="unpinchats">
            <ion-avatar slot="start" class="chat-indent">
                <img src="/assets/img/plug.jpg" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <p class="time">12:03 AM</p>
                </div>
                <h2 class="names">plug <ion-icon class="volume" name="volume-mute" slot="end"></ion-icon></h2>
                <p class="time">plugplugplug</p>
            </ion-label>
        </ion-item>
        <ion-item class="unpinchats">
            <ion-avatar slot="start" class="chat-indent">
                <img src="/assets/img/plug.jpg" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <p class="time">12:03 AM</p>
                </div>
                <h2 class="names">plug <ion-icon class="volume" name="volume-mute" slot="end"></ion-icon></h2>
                <p class="time">plugplugplug</p>
            </ion-label>
        </ion-item>
        <ion-item class="unpinchats">
            <ion-avatar slot="start" class="chat-indent">
                <img src="/assets/img/plug.jpg" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <p class="time">12:03 AM</p>
                </div>
                <h2 class="names">plug <ion-icon class="volume" name="volume-mute" slot="end"></ion-icon></h2>
                <p class="time">plugplugplug</p>
            </ion-label>
        </ion-item>
        <ion-item class="unpinchats">
            <ion-avatar slot="start" class="chat-indent">
                <img src="/assets/img/plug.jpg" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <p class="time">12:03 AM</p>
                </div>
                <h2 class="names">plug <ion-icon class="volume" name="volume-mute" slot="end"></ion-icon></h2>
                <p class="time">plugplugplug</p>
            </ion-label>
        </ion-item>
        <ion-item class="unpinchats">
            <ion-avatar slot="start" class="chat-indent">
                <img src="/assets/img/plug.jpg" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <p class="time">12:03 AM</p>
                </div>
                <h2 class="names">plug <ion-icon class="volume" name="volume-mute" slot="end"></ion-icon></h2>
                <p class="time">plugplugplug</p>
            </ion-label>
        </ion-item>

        <!-- <ion-item class="unpinchats">
            <ion-avatar slot="start" class="chat-indent">
                <img src="/assets/img/fq.jpg" alt="avatar">
            </ion-avatar>
            <ion-label>
                <div class="rightside">
                    <p class="time">00:00 AM</p>
                </div>
                <h2 class="names" style="width: 200px">Пососи, я не бездарна</h2>
                <p>back-end сделаю потом</p>
            </ion-label>
        </ion-item> -->

    </ion-list> 
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary">
          <ion-icon name="pencil"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>